@font-face {
  font-family: 'Roboto';
  src: url('/roboto/Roboto-Regular.ttf');
}

body {
  margin: 0;
  background-color: rgb(131, 131, 131);
  padding: 10px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
}

#container {
  margin: 3% auto;
  background-color: #e0bede;
  padding-top: 50px;
  padding-left: 75px;
  padding-bottom: 10px;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.2);
  max-width: 950px;

}

#container .column  {
  width: 48%;
}

h1 {
  color: teal;
}

ul {
  list-style: none;
}

li {
  font-size: 18px;
  color: Teal;
  line-height: 2;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
