@font-face {
  font-family: 'Roboto';
  src: url('/roboto/Roboto-Regular.ttf');
}

body {
  background-color: rgb(131, 131, 131);
  padding: 50px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
}

#container{
  margin: 3% auto;
  background-color: #e0bede;
  padding: 100px;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.2);
  max-width: 950px;
}

.column {
  width: 48%;
}

h2 {
  vertical-align: middle;
}

ul {
  list-style: none;
}

li {
  font-size: 18px;
  color: Teal;
  line-height: 2;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
